nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#AboutMe{
  background-image: url(/public/background-pixeled.gif);
  width: 100%;
  height: 900px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  span{
    font-weight: 200;
  }
  h1{
    color: #7fffd4;
    font-weight: bold;
    font-size: 60px;
  }
  #span-2{
    font-size: 24px;
    font-weight: bold;
  }
}

#AboutMe-Filter{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(0deg,#000 0,rgba(0, 0, 0, 0.118));
}

#AboutMe2{
  width: 100%;
  background-image: url(/public/background2.jpeg);
  background-repeat: no-repeat;
  height: 900px;
  background-size: cover;
  color: white;
  img{
    width: 250px;
  }
  h1{
    color: #7fffd4;
  }
  b{
    color: #7fffd4;
  }
  p{
    margin-right: 30px;
    font-size: 18px;
    text-align: center;
  }
  img{
    margin-left: 30px;
  }
}

#AboutMe-Filter2{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(
    rgb(0, 0, 0.0) 0%,     /* topo escuro */
    rgba(0, 0, 0, 0.7) 40%,   /* clareando */
    rgba(0, 0, 0, 0.7) 60%,   /* clareando */
    rgba(0, 0, 0, 1.0) 100%   /* embaixo escuro */
  );
}

#SocialNetworks{
  margin: 15px;
  a{
    margin: 5px;
    color: whitesmoke;
  }
}

#Links{
  margin: 15px;
  a{
    margin: 10px;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.Spacing{
  height: 100px;
  width: 100%;
  background-color: black;
}

#Skills{
  height: 700px;
  background-image: url(/public/sky.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  h1{
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  img{
    width: 100px;
  }
  #Skills-Filter{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.973) 10%,
      rgba(0, 0, 0, 0.59) 50%, 
      rgba(0, 0, 0, 0.938) 90%);
    .Giants{
      width: 70px;
    }
  }
}

.languages-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  img{
    margin: 15px;
  }
  h1{
    font-size: 22px;
  }
}

#titles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 100%;
  gap: 165px;
  margin: 15px;
}

.book{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  img{
    -webkit-mask-image: url('/HTML.png'); /* usa a transparência do PNG */
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;

    mask-image: url('/HTML.png');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;

    background: white; /* cor do "preenchimento" */
    border: 2px solid #00f; /* cor e espessura da borda */
    border-radius: 0; /* pode ajustar */

    animation: breathing 4s ease-in-out infinite; /* respiração */
  }

  img:hover{
    filter: drop-shadow(0 0 10px rgba(0, 200, 255, 0.6));
    cursor: pointer;
  }
}

@keyframes breathing {
  0%   { transform: translateY(0) scale(1); }
  50%  { transform: translateY(-10px) scale(1.05); }
  100% { transform: translateY(0) scale(1); }
}

